.hero-section{
    background-color: beige;
}
.navbar .nav-link:hover{
    position: relative;
    transition :color 0.2s ease-in-out;
}

.navbar .nav-link:hover{
    color: #ffc107 ;
}

.product-card{
    transition: transform 0.2 ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.product-card:hover{
    boxshadow: 0 8px 20px rgba(0,0,0,0.15);
    background-color: #e7f1ff;
}
.hero-btn,
.btn-primary,
.btn-success{
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}   
.hero-btn:hover,
.btn-primary:hover,
.btn-primary:hover{
transform:translate(-2px);
box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}