#dabba{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    animation: movinDabba 5s linear infinite;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
@keyframes movinDabba {
       0%{
       top: 0px;
       left: 0px;
       transform: rotate(-1800deg);
       transition: transform 2s;
    }
    25%{
        top: 0px;
       left: 500px;
       background-color: greenyellow;
    }
    50%{
        top: 500px;
        left: 500px;
        background-color: blue;
    }

    75%{
        top: 500px;
       left: 0px;
       background-color: brown;
    }
    100%{
        top: 0px;
        left: 0px;
        background-color: black;
    }


    
}