#mainDiv{
    width: 700px;
    height: 700px;
    border: 1px solid #000;
    background-color: aqua;
    padding-top: 20%;
    display: flex;
    
   /* gap: 10px;*/
   flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.subDiv{
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: beige;
}
