
h1{
    width: 200px;
    border: 1px solid black;
    margin-left: 0px;

    
    
}
h1:hover{
    /* margin-left: 200px; */
    /* transition: margin-left 5s; */
    width:400px;
    transition: width 3s;
}





/* 
h2{
     width: 10px;
     height: 50px;
    border: 2px solid black;
    background-color: rgb(255, 0, 0);
}
h2:hover{
    width: 50%;
    transition: width 3s ease;
     background-color: green;
     transition: width 5s ease-in-out, background-color 5s ease-in-out ;
}
 */

#outer{
    width: 500px;
    height: 50px;
    border: 1px solid black;

#inner{
    width:10px;
    height:50px;
    background-color:red;
    transition: width 3s;


    }
}
#outer:hover{
    #inner{
        width:100%;
        background-color: green;
        transition: width 5s ease-in-out, background-color 5s ease-in-out ;
    }
}

#outer1{
    width: 500px;
    height: 50px;
    border: 1px solid black;

#inner1{
    
    height:50px;


    }
}
#outer1:hover{
    #inner1 {
        animation: myAnimation 5s linear;

       
    }
}
@keyframes myAnimation {
    0%{
        width: 0%;
        background-color: red;
    }
    50%{
        width: 50%;
        background-color: yellow;
    }

    100%{
        width: 100%;
        background-color: green;
    }

}
#d2{
    border: 1px solid black;
    font-size: xx-large;
    width: 100px;
    height: 50px;
    transform: rotatez(90deg);
    
}
#d2:hover{
     transform: rotatez(90deg);

}