#d1,#d2{
    width: 500px;
    height:100px ;
    border: 5px solid rgb(6, 255, 14);
    font-size: 50px;
    padding: 50px;
    margin-top: 20px;
}
span{
    margin: 20px;
    border: 1px solid #ff0000;
}
#d3{
    width: 200px;
    height: 200px;
    border: 3px solid #fd0202;
    margin: 20px 40px 60px 80px;
    padding: 0 0 0 10px;
    box-shadow: 10px 5px 8px 5px red;
}