 #mainDiv{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #000;
 }
 .subdiv{
    border: 1px solid #000;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(197, 24, 24);
 }
 @media screen and (max-width:900px) {
    #mainDiv{
        grid-template-columns: auto auto auto;
    }
    
 }
  @media screen and (max-width:600px) {
    #mainDiv{
        grid-template-columns: auto auto;
    }
    
 }
  @media screen and (max-width:350px) {
    #mainDiv{
        grid-template-columns: auto;
    }
    
 }